*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}



.container{
    
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    height: 100vh;
    
}
.item{
    background-image: linear-gradient(rgb(20, 20, 218),rgb(220, 198, 198));
    
}
header{
    grid-column: 1/4;
    
}
.sidebar{
    grid-row: 2/4;
}
.content-1{
    grid-column: 2/4;
}
.footer{
    grid-column: 1/4;
}

.item{
    border: 5px solid;
}

/* container1 ended */



.container2{
    text-align: center;
    display: grid;
    grid-template-columns:150px 150px 1fr 150px 150px ;
    gap: 10px;
    height: 100vh;
}

.num{
    background-image: linear-gradient(to bottom right,red,rgb(217, 233, 42));
}
.box1{
    grid-column: 2/4;
    grid-row: 1/3;


}

.box2{
    grid-column: 3/4;
    grid-row: 3/5;
}
.box3{
    grid-column: 4/6;
}
.box4{
    grid-column: 4/6;
}
.box5{
    grid-row: 1/2;
}
.box6{
    grid-row: 2/3;

}
.box8{
    grid-row: 4/5;
}
.box10{
    grid-column:3/2;
    
}
.box11{
    grid-column: 4/5;
    grid-row:3/4 ;
    }
.box12{
    grid-column: 5/6;
    grid-row: 3/4;
}


.container3{

display: grid;
gap: 10px;
height: 100vh;

grid-template-columns: 1fr 1fr 1fr 1fr;



}

.item_3{
    width: 100%;
    height: auto;
    background-color:aqua;
}


.item1{
    grid-row: 1/4;
    background-color: green;
}
.item2{
    grid-column: 2/4;
    background-color: green;
}
.item6{
   grid-row: 4/2;
   grid-column: 4/4;
   background-color: green;
    
}
.item4{
    background-color: chocolate;
    
}
.item8{
    background-image: linear-gradient(rgb(20, 20, 218),rgb(220, 198, 198));
}




@media screen and (max-width : 500px) {
    
    .container,.container2,.container3{
        grid-template-columns: repeat(1,1fr);
        
    }

    .item,.num,.item_3{
       
        grid-row: auto;
        grid-column: auto;
    }


}

@media screen and (min-width : 501px ) and (max-width : 900px){


    .container{
    
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 10px;
        height: 100vh;
        
    }
    .item{
        background-image: linear-gradient(rgb(20, 20, 218),rgb(220, 198, 198));
        
    }
    header{
        grid-column: 1/3;
        
    }
    .sidebar{
        grid-row: 2/3;
    }
    .content-1{
        grid-column: 2/3;
    }
    .footer{
        grid-column: 1/3;
    }
    
    .item{
        border: 5px solid;
    }
    



    .container2{
        text-align: center;
        display: grid;
        grid-template-columns:auto auto;
        gap: 10px;
        height:300px;
    }

    .num{
        grid-row: auto;
        grid-column: auto;
    }
    
    /* .num{
        background-color: aqua;
    }
    .box1{
        grid-row: 1/1;
        grid-column: 1/1
    }
    .box2{
        grid-column:2/2 ;
        grid-row: 1/2;
    }
    .box3{
        grid-row: 2/2;
        grid-column:2/1 ;
    }
    .box4{
        grid-column: 2/2;
        grid-row: 2/2;
    }
    .box5{
        grid-row: 3/3;
         }
     .box6{
        grid-row: 3/3;
     }
     .box7{
        grid-row: 4/4;
     } 
     .box9{
        grid-row: 5/5;
     } 
     .box11{
        grid-row: 7/1;
        grid-column: 1/1;
     }
     .box11{
        grid-row: auto;

     }
     .box12{
        grid-column: 2/2;
        grid-row: auto;
     }

     .box13{
        grid-row: auto;
     }
     .box14{
        grid-row: auto;
     } */
     /* .box12{
        grid-row: 6/2;
        grid-column: ;
     } */


     .container3{
        grid-template-columns: repeat(2,1fr);
    }
    .item_3{
        grid-row: auto;
    }   
    
}


